.nav {
    margin-bottom: 0.5rem;
    .nav-link {
        font-size: 1.2rem;
    }
}

.header-contact {
    right: 0;
    top: 0;
    margin: 10px 20px;

    span {
        margin: 0 10px;
    }

    i {
        margin: 0 5px 0 0;
    }
}
.logo img {
   height: 8rem;
   margin: 20px 20px 0;

}