.nav {
    margin-bottom: 0.5rem;
    .nav-link {
        font-size: 1.2rem;
    }
}

.header-contact {
    right: 0;
    top: 0;
    margin: 10px 20px;

    span {
        margin: 0 10px;
    }

    i {
        margin: 0 5px 0 0;
    }
}
.logo img {
   height: 6rem;
   margin: 20px;

}



.slider-outer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    overflow: hidden;
    width: 0;
    display: none;

    .slider-inner {
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .close-slider {
            position: absolute;
            top: 0;
            right: 0;
            margin: 1.5rem;
            font-size: 2rem;
            color: #eaeaea;
            cursor: pointer;

            &:hover {
                color: #cfcfcf;
            }
        }

        .contact {
            border-top: 1px solid #eaeaea;
            width: 50%;
            margin: 0 auto;
            padding-top: 15px;
        }

        li.nav-item.menu-item {
            width: 100%;
            text-align: center;
        }
    }
}
